<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azhar.deckdeals">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DECkDeals">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.ArialDistanceActivity"
            android:label="@string/title_activity_arial_distance" />
        <activity android:name=".Activity.MerchantActivity">

        </activity>
        <activity android:name=".Activity.CategoryActivity" />

        <receiver
            android:name=".Activity.Geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activity.Geofence.GeofenceActivity" />
        <activity android:name=".Activity.DirectionActivity" />
        <activity android:name=".Activity.DeckRatingActivity" />
        <activity android:name=".Activity.InboxActivity" />
        <activity android:name=".Activity.NavDrawerActivity" />
        <activity android:name=".Activity.BrandActivity" />
        <activity android:name=".Activity.DataActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>